EXPO_PUBLIC_VPS_API_BASE_URL=https://temp.synome.jp
EXPO_PUBLIC_MUSIC_LINK=

# apiMode=direct_client の開発時のみ必要
# EXPO_PUBLIC_MISTRAL_API_KEY=
# EXPO_PUBLIC_CLAUDE_API_KEY=
# EXPO_PUBLIC_ELEVENLABS_API_KEY=
# Optional
# EXPO_PUBLIC_ELEVENLABS_VOICE_ID=aFDSnmXyFHr0IRaw35mG
# EXPO_PUBLIC_ELEVENLABS_MODEL=eleven_multilingual_v2
